# Arquivos de Bytecode e Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pasta de configurações do VSCode
.vscode/

# Banco de dados local
# É uma boa prática não versionar o arquivo do banco de dados,
# pois ele muda constantemente e pode causar conflitos.
# O banco será criado automaticamente na primeira execução.
manutencoes.db
manutencoes.db-journal